"*":
  "atom-beautify":
    _analyticsUserId: "94512e7a-304f-451f-b2cf-631787a170cc"
    analytics: false
    css_newline_between_rules: true
  core:
    disabledPackages: [
      "metrics"
      "background-tips"
      "exception-reporting"
      "language-c"
      "language-clojure"
      "language-go"
      "language-java"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-ruby-on-rails"
      "styleguide"
      "welcome"
      "minimap"
    ]
  editor:
    fontSize: 15
    invisibles: {}
    showIndentGuide: true
  "git-plus": {}
  "js-hyperclick":
    extensions: [
      ".coffee"
    ]
  "language-babel": {}
  linter: {}
  "linter-coffee-variables":
    environments: [
      "browser"
      "node"
      "es6"
      "amd"
    ]
  "linter-eslint": {}
  "one-dark-ui": {}
  pigments: {}
  "smart-tab-name": {}
  "symbols-tree-view":
    autoToggle: true
    zAutoHideTypes: "variable"
  welcome:
    showOnStartup: false
