"*":
  welcome:
    showOnStartup: false
  "linter-eslint": {}
  core:
    disabledPackages: [
      "metrics"
      "background-tips"
      "exception-reporting"
      "language-c"
      "language-clojure"
      "language-go"
      "language-java"
      "language-make"
      "language-mustache"
      "language-objective-c"
      "language-perl"
      "language-ruby-on-rails"
      "styleguide"
      "welcome"
    ]
  editor:
    invisibles: {}
  linter: {}
  "language-babel": {}
  "linter-coffee-variables": {}
  "js-hyperclick":
    extensions: [
      ".coffee"
    ]
  "atom-beautify":
    _analyticsUserId: "94512e7a-304f-451f-b2cf-631787a170cc"
    css_newline_between_rules: true
  "one-dark-ui": {}
  "git-plus": {}
