packages: [
  "atom-beautify"
  "atom-ternjs"
  "atom-transpose"
  "change-case"
  "copy-filename"
  "expand-selection-to-quotes"
  "git-plus"
  "highlight-selected"
  "hyperclick"
  "language-babel"
  "linter"
  "linter-coffee-variables"
  "linter-coffeelint"
  "linter-eslint"
  "linter-jsonlint"
  "minimap"
  "package-sync"
  "smart-tab-name"
]
