packages: [
  "atom-beautify"
  "atom-ternjs"
  "atom-transpose"
  "change-case"
  "coffeescript-check"
  "copy-filename"
  "editorconfig"
  "expand-selection-to-quotes"
  "git-plus"
  "highlight-selected"
  "language-babel"
  "language-batch"
  "language-swift"
  "linter"
  "linter-coffee-variables"
  "linter-coffeelint"
  "linter-eslint"
  "linter-jsonlint"
  "linter-php"
  "minimap"
  "node-debugger"
  "package-sync"
  "pigments"
  "quick-file-actions"
  "smart-tab-name"
  "symbols-tree-view"
  "uuidgen"
]
