packages: [
  "atom-ternjs"
  "atom-transpose"
  "change-case"
  "expand-selection-to-quotes"
  "highlight-selected"
  "hyperclick"
  "js-hyperclick"
  "language-babel"
  "linter"
  "linter-coffee-variables"
  "linter-coffeelint"
  "linter-eslint"
  "minimap"
  "package-sync"
]
